@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.ttf);
}

body {
  margin: 0;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
